* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #222;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #333;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;   
}

.list-item {
    margin-left: 40px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all ease 0.5ms;
    
}

.list-item a:hover {
    font-weight: 800;
}

.marca {
    font-weight: 800;
    color: #4169e1;
}

 .main{
    width: 100vw;
    height: 90vh;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
} 

.create {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
